.section-box {
   border-top: 1px solid black;
}
 .section-1 {
  margin-top: 100px;
   max-width: 1400px;
   display: flex;
   padding: 0.1px;
   margin-bottom: 100px;
 }
 
 .brand-container {
    width: 25%;
    margin-left: 4%;
 }

 .brand-imgs {
   margin-right: 4%;
 }

 .brand-text-title {
    margin-top: 20px;
    font-size: 21px;
 }

 .brand-text-title-black {
    font-size: 21px;
    font-weight: 900;
 }

 .brand-text {
    margin:0px 0px 30px 0px;    width: 60%;
    font-size: 17px;
    line-height: 1.3;
 }

 .img-container h4 {
    font-size: 21px;
    font-weight: 900;
 
 }

 .img{
   margin-top: 30px;
 }

 .imgs-top {
   display: flex;
 }

 .img-1-container {
   margin-right: 30px;
 }

 .imgs-bottom img {
   width: 99%;
   margin-top: 30px;
 }

 .imgs-bottom h4 {
   margin-left: 1%;
   margin-top: 100px;
 }

 .section-2 {
   margin-top: 100px;
    max-width: 1400px;
    display: flex;
    padding: 0.1px;
  }

  .brand-logo img {
   width: 150px;
  }

  .brand-images img {
    width: 930px;
    
  }
  .brand-images {
   margin-right: 5%;
  }

  .img-container img {
   margin-bottom: 50px;
  }


  .section-3 {
   margin-top: 100px;
    max-width: 1400px;
    display: flex;
    padding: 0.1px;
    margin-bottom: 100px;
  }